<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.css">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="post">
        <h2>Iniciar sesión</h2>
        <div class="input-field">
            <input type="text" name="username" placeholder="Nombre de usuario" required>
        </div>
        <div class="input-field">
            <input type="password" name="password" placeholder="Contraseña" required>
        </div>
        <input type="submit" value="Iniciar sesión">
    </form>
</body>
</html>
